.color-ui-button {
  background-color: hsl(179, 51%, 39%);

  color: hsl(0, 0%, 100%);
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background: hsl(177, 52%, 46%);
  }

  &--is-active {
    background-color: hsl(0, 87%, 62%);

    &:hover {
      background-color: hsl(0, 87%, 62%);
    }
  }
}
