.ui-tag {
  display: flex;
  padding: em(5 10, $fz);

  background: hsl(210, 38%, 95%);
  border-radius: em(25, $fz);

  color: hsl(0, 0%, 0%);

  &:hover {
    background: hsl(216, 15%, 52%);

    color: hsl(0, 0%, 100%);
  }

  &--is-active {
    background: hsl(179, 51%, 39%);

    color: hsl(0, 0%, 100%);

    &:hover {
      background: hsl(179, 51%, 39%);
    }
  }
}
