.ui-page {
  display: grid;
  contain: paint;

  min-height: 100vh;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: em(16, $fz);
  font-weight: 400;
  line-height: em(18, $fz);
  color: hsl(218, 23%, 23%);
}
