.ui-page {
  display: grid;
  min-height: 100vh;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: em(16, $fz);
  font-weight: 400;
  line-height: em(18, $fz);
  color: hsl(0, 0%, 0%);
  overflow: hidden;
}
